@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

html,
body,
main,
div,
h1,
h2,
h3,
ul,
li,
button {
  margin: 0;
  padding: 0;
  border: none;
}

.App {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url(./assets/img-background2.jpg);
  box-shadow: inset 0em 18em 15em black;
}

.App-header {
  padding: 35px;
  padding-bottom: 40px;
  font-size: 26px;
  font-family: "Lobster", cursive;
  color: whitesmoke;
  background-image: url(./assets/img41.jpg);
}

h1 {
  animation-duration: 8s;
  animation-name: neon-shadow;
  animation-iteration-count: infinite;
}

@keyframes neon-shadow {
  0%,
  100% {
    text-shadow: 5px 5px 8px #3f3;
  }
  25% {
    text-shadow: 5px 5px 8px #f0f;
  }
  50% {
    text-shadow: 6px 6px 10px #06f;
  }
  75% {
    text-shadow: 5px 5px 8px tomato;
  }
}

.App-content {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media only screen and (min-width: 800px) {
  .App-header {
    font-size: 35px;
    box-shadow: inset 0 0 2em black;
  }
}
